@using SportLife.Models.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <style>
        #footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        #line-bottom {
            position: fixed;
            bottom: 100px;
            width: 100%;
        }

        @@media all and (min-width:481px) and (max-width: 768px) {
            /* put your css styles in here */
            #footer, #line-bottom, #header {
                position: inherit;
                bottom: 0;
                /*//  width: 140%;*/
            }
        }

        @@media all and (min-width:321px) and (max-width: 480px) {
            #footer {
                position: inherit;
                bottom: 0;
                width: 100%;
            }

            #line-bottom {
                position: inherit;
                bottom: 100px;
                width: 100%;
            }
        }

        @@media all and (min-width:0px) and (max-width: 320px) {
            /* put your css styles in here */
            #footer, #line-bottom {
                position: inherit;
                bottom: 0;
                /*//  width: 140%;*/
            }
        }
    </style>

    @Scripts.Render("~/bundles/modernizr")


    <meta name="description" content="">
    <meta name="author" content="">

    <script src="~/js/jquery.js"></script>

    <!-- core CSS -->

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/css/main.css" rel="stylesheet">
    <link href="~/Content/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>
    @{
        UserViewModel user = Session["user"] as UserViewModel;
        AccessRolesEnum role = user != null ? user.Role : AccessRolesEnum.NoAcces;
    }
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>  +0123 456 70 90</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                        <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("TempleteIntegration2")"><img src="~/Content/images/logo.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="@Url.Action("TempleteIntegration2")">Home</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">Blog Single</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="404.html">404</a></li>
                                <li><a href="shortcodes.html">Shortcodes</a></li>
                            </ul>
                        </li>
                        <li><a href="blog.html">Blog</a></li>
                        @if (role == AccessRolesEnum.NoAcces)
                        {
                            <li>@Html.ActionLink("Login", "register", "Home", new { mode = 1 }, null)</li>
                        }
                        else
                        {
                            <li><a href="contact-us.html">Contact</a></li>

                        }
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header><!--/header-->

    <div class="body-content">
        @RenderBody()
        <hr id="line-bottom" />
        <footer id="footer" class="midnight-blue">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        &copy; @DateTime.Now.Year <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
                    </div>
                    <div class="col-sm-6">
                        <ul class="pull-right">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer><!--/#footer-->
    </div>

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/jquery.isotope.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("scripts", required: false)
    <a data-target="#myModal" data-toggle="modal" id="myModalTrigger" data-backdrop="static" data-keyboard="false" style="display:none">
        Launch demo modal
    </a>
    <script>
        $(document).ready(function () {
            toggleFooter();
        });
        $(window).resize(function () {
            toggleFooter();
        });

        function toggleFooter() {
            if (window.innerHeight < 650) {
                $('#footer, #line-bottom').css('position', 'inherit');
            } else {
                $('#footer, #line-bottom').css('position', 'fixed');
            }
        }
    </script>
</body>

@Html.Partial("~/Views/SharedPopups/GenericPopup.cshtml")
</html>
