@model List<SportLife.Models.Models.EventViewModel>
@using SportLife.Models.Models
@{
    ViewBag.Title = "Dashboard";
    var user = Session["user"] as UserViewModel;
    var eventsDates = new List<string>();
    foreach (var d in Model)
    {
        if (d.EventDate.HasValue)
        {
            eventsDates.Add(d.EventDate.Value.ToString("yyyy-MM-dd"));
        }
    }
    string jsonSer = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(eventsDates);
}

<link rel="stylesheet" href="~/Content/css/clndr.css" type="text/css" />
<style>
    th, td {
        text-align: center;
    }

    .result {
        color: red;
    }
</style>
<div class="main-page">
    <div class="row">
        <div class="col-md-12 general-grids grids-right widget-shadow">
            <h4 class="title2">Horizontal Tabs:</h4>
            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false">Home</a></li>
                <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="true">Profile</a></li>
                <li role="presentation" class="dropdown">
                    <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false">Users <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
                        <li class=""><a href="#dropdown1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1" aria-expanded="false">New users</a></li>
                        <li class=""><a href="#dropdown2" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2" aria-expanded="false">Active users</a></li>
                    </ul>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content scrollbar1" tabindex="5001" style="overflow: hidden; outline: none;">
                <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">

                    <div class="bs-example widget-shadow" data-example-id="contextual-table">
                        <h4>Latest events:</h4>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Event name</th>
                                    <th>Event date</th>
                                    <th>Registered players</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;

                                }
                                @foreach (var ev in Model)
                                {   // red = not opened
                                    // blue = opened not full
                                    // green opened full
                                    //orange other
                                    bool delete = user != null && ev.CreatorId == user.UserId;
                                    string classRow = !ev.IsOpened ? "danger" : "warning";
                                    classRow = ev.IsOpened ? ev.RegisterdPlayers == ev.MaxNumberOfParticipants ? "success" : "info" : classRow;

                                    <tr class="@classRow">
                                        <th scope="row">@i</th>
                                        <td>@ev.EventName</td>
                                        <td class="dateEv">@(ev.EventDate.HasValue ? ev.EventDate.Value.ToString("yyyy-MM-dd") : "Event wasn't planed yet")</td>
                                        <td>@(ev.RegisterdPlayers > 0 ? ev.RegisterdPlayers.ToString() : "No players attending")</td>
                                        <td>
                                            <button type="button" class="btn btn-succes btn-lg raised">view</button>
                                            @if (delete)
                                            {
                                                <button type="button" onclick="edit(@ev.EventId)" class="btn btn-primary btn-lg raised">edit</button>
                                            }
                                            @if (delete && !ev.IsClosed)
                                            {
                                                <button type="button" onclick="deleteEvent(this, @ev.EventId)" class="btn btn-danger btn-lg raised">delete</button>
                                            }
                                        </td>
                                    </tr>
                                            i++;
                                }

                            </tbody>
                        </table>
                    </div>
                    <p>
                        This are the most recent events.
                    </p>
                    <p>
                        You can edit your events or even delete them if aren't closed already
                    </p>
                    <p>
                        red = not opened |
                        blue = opened not full |
                        green = opened full
                    </p>
                    <div class="result">

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">

                    <div class="row calender widget-shadow">
                        <h4 class="title">Calender</h4>
                        <div class="cal1">

                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="dropdown1" aria-labelledby="dropdown1-tab">
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="dropdown2" aria-labelledby="dropdown2-tab">
                    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">


    </div>
</div>

<script>
    function deleteEvent(elem, id) {
        debugger
        $.get("deleteevent?evId=" + id, function (data) {
            var dateRemoved = elem.parentElement.parentElement.children[2].innerHTML
            var index = eventsDates.indexOf(dateRemoved);
            if (~index) {
                eventsDates.splice(index, 1);
                var toRemove = $(".ev");
                if (toRemove.length > 0) {
                    toRemove.html("");
                    toRemove.remove();
                }
            }
            elem.parentElement.parentElement.remove();

            $(".result").append("<p>" + data + "</p>");
        });
    }

    var eventsDates = '@Html.Raw(jsonSer)';
    eventsDates = JSON.parse(eventsDates);

    function showEvents() {
        $(".day").removeClass("event");

        eventsDates.forEach(function (d) {
            var day = $('.calendar-day-' + d);
            var stringAppend = "<p class='ev'><i class='glyphicon glyphicon-calendar'></i>You have an event</p>"
            if (day.find('.ev').length == 0) day.append(stringAppend);
            $('.calendar-day-' + d).addClass("event");
        });
    }

    $(document).ready(function () {


        $('#profile-tab, .clndr-previous-button , .clndr-next-button ').on('click', showEvents)

    });

    function edit(id){
        window.location.href = "Event?eventId="+id;
    }
</script>